body {
  font-family: "Poppins", sans-serif;
}

.img-project { 
  object-fit: cover; 
  height: 200px; 
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
